<a
  href="https://lin.ee/hsfaLhf"
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-6 right-6 z-50 transition-opacity hover:opacity-80"
  aria-label="LINEで友だち追加"
>
  <img
    src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
    alt="友だち追加"
    height="36"
    width="116"
    class="h-9 w-auto"
  />
</a>
